{% extends 'base.html.twig' %}

{% block title %}Mon panier -EatLocal{% endblock %}

{% block body %}
        <h1>Mon panier</h1>
         <a href="#" class="link-continue-shop">Continuer mes achats</a>
        <table class="table mt-3">
        <thead>
            <tr class="orange-background">
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% if cart|length > 0 %}
        {% set total = null %}
        {% for product in cart %}
            <tr>
            <th>
                <img src="/uploads/{{product.product.illustration}}" alt="{{ product.product.name }}" height="80px";
>
            </th>
            <td>
                {{product.product.name}}
            </td>
            <td> 
                <a style="text-decoration: none" href="{{ path('decrease_to_cart', { 'id' : product.product.id }) }}">
                <img src="{{ asset('assets/img/collapse.png') }}" height="18px" alt="Retirer une quantité à mon produit">
                x {{ product.quantity }}
                <a href="{{ path('add_to_cart', {'id' : product.product.id})}}">
                <img src="{{ asset('assets/img/add.png')}}" height="18px" alt="Ajouter un produit">
            </td>
            <td>
                {{ (product.product.price /100)|number_format(2,',','.')}} €
            </td>
            <td>
                {{ (product.product.price * product.quantity /100)|number_format(2,',','.')}} €
            </td>
            <td>
                <a href="{{ path('delete_to_cart', { 'id' : product.product.id }) }}">
                <img src="{{ asset('assets/img/remove.png') }}" height="18px" alt="Supprimer mon produit">
            </td>
            </tr>
             {% set total = total + (product.product.price * product.quantity)%}
        {% endfor %}
        {% else %}
        Votre panier est vide!
        {% endif %}
        </tbody>
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td><b>Nombre de produit :</b></td>
                    <td><b> {{ cart|length }}</b></td>
                </tr>
                <tr>
                    <td><b>Total de mon panier : </b></td>
                    <td><b>{{ (total / 100)|number_format(2, ',', '.') }} €</b></td>
                </tr>
            </table>
        <a href="{{ path('order')}}" class="btn-orange-primary btn-block">Valider mon panier</a>
        </div>
{% endblock %}
