{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    {% if cart|length > 0 %}
        <h1>Mon panier</h1>
        {% set total = null %}
        {% for product in cart %}
            <img src="/uploads/{{product.product.illustration}}" alt="{{ product.product.name }}">
            {{product.product.name}}
            <a href="{{ path('decrease_to_cart', { 'id' : product.product.id }) }}">
            <img src="{{ asset('assets/img/collapse.png') }}" height="18px" alt="Retirer une quantité à mon produit">
            x {{ product.quantity }}
            <a href="{{ path('add_to_cart', {'id' : product.product.id})}}">
            <img src="{{ asset('assets/img/add.png')}}" height="18px" alt="Ajouter un produit">
            {% set total = total + (product.product.price * product.quantity)%}
            {{ (product.product.price / 100)|number_format(2,',','.')}} €
            {{((product.product.price * product.quantity)/ 100)|number_format(2,',','.')}}€
            <a href="{{ path('delete_to_cart', { 'id' : product.product.id }) }}">
            <img src="{{ asset('assets/img/remove.png') }}" height="18px" alt="Supprimer mon produit">
        {% endfor %}
        <hr>
        Nombre de produits: {{ cart|length }}
        Total de mon panier : {{ (total / 100)|number_format(2, ',', '.') }} €
            <a href="{{ path('order')}}" class="btn btn-success btn-block">Valider mon panier</a>
    {% else %}
        Votre panier est vide!
    {% endif %}
{% endblock %}
