{% include "base.html.twig" %} 


{% block body %}
<div class="row">
  <div class="col-md-3">
      <h1>Filtrer</h1>
      {{ form(form) }}
  </div>
        <h1>Nos produits</h1>
        {% for product in products %}
        <div class="card mb-3 container" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                  
                  <img src="/uploads/{{product.illustration}}" alt="{{ product.name}}" class="img-fluid">
                </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.description|u.truncate(120, '...')}}</p>
                  <span>{{ (product.price /100)|number_format(2, ',', '.')}} €</span><br><br>
                  <a href="{{path('product', { 'slug' : product.slug })}}" class="btn-green-primary">Voir le produit</a>
                  <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn-orange-primary">Ajouter au panier</a>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
    </div> 
    {% include "footer.html.twig" %}
{% endblock %}
