
        <div class="card" >
          <img src="/uploads/{{product.illustration}}" class="card-img-top" alt="{{ product.name}}">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text best">{{product.description|u.truncate(120, '...')}}
                <br>
                {{ (product.price /100)|number_format(2, ',', '.')}} €
            </p>
            <p class="card-text"> <a href="{{path('product', { 'slug' : product.slug })}}" class="btn btn-info"> Voir le produit</a>
                <a href="{{ path('add_to_cart', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a></p>
          </div>
        </div>
        
      