{% include "base.html.twig" %}

<h1>Notre concept</h1>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/champs.jpeg")}} alt="Nos champs">
      </div>
      <div class="col-md-8 concept-card-body">
        <div class="card-body ">
            <div class="card-title d-flex justify-content-center "><h5 class="concept-card">1</h5></div>
          <p class="card-text text-center"><br><br>Rendre les produits fermiers accessibles</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-8 concept-card-body">
        <div class="card-body">
            <div class="card-title d-flex justify-content-center "><h5 class="concept-card">2</h5></div>
          <p class="card-text text-center"><br><br>Réduire les transports</p>
        </div>
      </div>
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/coursier.jpg")}} alt="Notre transport">
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/farmers/julien2.jpg")}} alt="Nos partenariats">
      </div>
      <div class="col-md-8 concept-card-body">
        <div class="card-body">
          <div class="card-title d-flex justify-content-center "><h5 class="concept-card">3</h5></div>
          <p class="card-text text-center"><br><br>Permettre aux agriculteurs de vendre leurs produits aux meilleurs prix pour tous. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-8 concept-card-body">
        <div class="card-body">
            <div class="card-title d-flex justify-content-center "><h5 class="concept-card">4</h5></div>
          <p class="card-text text-center"><br>Rendre l'agirculture biologique accessible à tous.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/farmers/Elisa.jpg")}} alt="Le bio">
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/farmers/Jade.jpg")}} alt="Les intermédiaires">
      </div>
      <div class="col-md-8 concept-card-body">
        <div class="card-body">
          <div class="card-title d-flex justify-content-center "><h5 class="concept-card">5</h5></div>
          <p class="card-text text-center"><br>Réduire les intermédiaires pour réduire les coûts et les impacts envvironnementaux. </p>
        </div>
        
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-8 concept-card-body">
        <div class="card-body ">
          <div class="card-title d-flex justify-content-center"><h5 class="concept-card">6</h5></div>
          <p class="card-text text-center"> <br>Le bien-être animal est une priorité pour nous. </p>
        </div>
      </div>
      <div class="col-md-4">
        <img style="max-width: 100%; max-height: 100%"src={{asset("assets/img/farmers/Myriam.jpg")}} alt="Nos animaux">
      </div>
    </div>
  </div>
  {% include "footer.html.twig" %}