
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>
    <a href="{{ path('account_adress') }}">Retour</a>
    <hr>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.email) }}</div>
        <div class="col-md-6">{{ form_row(form.firstname) }}</div>
        <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        <div class="col-md-6">{{ form_row(form.age) }}</div>
        <div class="col-md-6">{{ form_row(form.adress) }}</div>
        <div class="col-md-6">{{ form_row(form.city) }}</div>
        <div class="col-md-6">{{ form_row(form.phone) }}</div>
        <div class="col-md-6">{{ form_row(form.password) }}</div>
        <div class="col-md-6"></div>
        <div class="col-md-6 mt-3 mb-5">{{ form_row(form.submit) }}</div>
    </div>

    {{ form_end(form) }}
    
{% endblock %}
{% include "footer.html.twig" %}