{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<h1>Récapitulatif de la commande<h1>
<h4>Vérifiez votre panier et vos informations avant de finaliser votre commande</h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <h4>Mon adresse de livraison</h4>
       <h5>{{ delivery }}</h5>
        <h4>Mon transporteur</h4>
        <h5>{{ carrier.name }}</h5>
        <h7>{{ carrier.description }}</h7>
         <h4>Prix de la livraison</h4>
        <h5>{{ carrier.price|number_format(2,',','.') }} € </h5>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <h4>Récapitulatif de ma commande</h4>
            <h6>Voici le récapitulatif de votre commande en cours..<h6>
            <h4>Total</h4>
            <h4>Mettre un btn payement</h4>
        </div>
    </div>
    <div>
    {% set total = null %}
    {% for key,product in cart %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/uploads/{{product.product.illustration}}" alt="{{ product.product.name}}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{product.product.name}}</h5>
                            <h5> x {{product.quantity}}</h5>
                            <span>{{ (product.product.price  * product.quantity /100)|number_format(2, ',', '.')}} €</span>
                        </div>
                    </div>
                </div>
            </div>
            {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}
         Total de mon panier : {{ (total / 100)|number_format(2, ',', '.') }} €
    </div>
</div>
{# <a href="" class="btn btn-success">Payer {{ ([total / 100] + carrier.price)|number_format(2,',','.') }} €</a> #}
{% endblock %}
