{% extends 'base.html.twig' %}

{% block title %}Ma commande - EatLocal{% endblock %}

{% block body %}
<div class="container">
    <h1>Passer ma commande<h1>
    <h5>Choisissez vos préférences</h5>
<div class="row">
   <div class="col-md-6">
        {% set formHtml %}
            {{form_start(form, {action:path('order_recap')})}}</h5>
            <b>{{ form_label(form.adresses, 'Choisir l\'adresse de livraison')}}</b>
            <a href="{{ path('account_adress_add')}}">Ajouter une nouvelle adresse</a>
            {{form_end(form)}}
        {% endset %}
        {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
   </div>
   <div class="col-md-6">
        <b>Récapitulatif de ma commande</b>
        {% for key,product in cart %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/uploads/{{product.product.illustration}}" alt="{{ product.product.name}}" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{product.product.name}}</h5>
                                <h5> x {{product.quantity}}</h5>
                                <span>{{ (product.product.price  * product.quantity /100)|number_format(2, ',', '.')}} €</span>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %} 
   </div>
</div>
{% endblock %}
